body {
    position: relative;
    margin: 0px;
    width: 1366px;
    height: 1701px;
}

html{
    scroll-behavior: smooth;
}

.lateral-menu{
    position: fixed;
    width: 272.5px;
    top: 355px;
}

.imagem-logo{
    position: fixed;
    width: 272.5px;
    top: 70px;
}

.upper-logo {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: white;
    height: 68px;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 3px 2px 5px #9fa7a1;
    position: fixed;
    width: 272.5px;
}

.main {
    display: flex;
}

.side-div {
    display: flex;
    flex-flow: column;
    width: 20%;
    z-index: 1;
    height: 1559px;
    width: 1000px;
}

.center-div {
    display: flex;
    width: 80%;
    flex-direction: column;
    background: #ffffff;
     
}

.header-new {
    height: 68px;
    background-color: #FDF1EB;
    display: flex;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    align-items: center;
    justify-content: space-around;
    width: 1117px;
}

.header-new span {
    color: #725C5C;
}

.infos {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.language {
    display: flex;
    align-items: center;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px;
    margin-left: 50px;
}

.language select {
    border: none;
    outline: 0;
    padding-top: 3px;
    background-color: #FDF1EB;
}

.user {
    display: flex;
}

.user .user-info {
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 12px;
    align-items: flex-end;
}

.user-pic img {
    border-radius: 50%;
    margin-left: 10px;
    padding-top: 2px;
}

.user-pic span {    
    bottom: 25px;
    position: relative;
    right: 15px;
    color: white;
    background-color: #F85959;
    padding: 1px 5px;
    border-radius: 10px;
    font-size: 10px;
}

.topic span{
position: relative;
bottom: 2.5px;
}

.side-menu {
    box-shadow: 3px 2px 5px #c5c5c5;
    height: 100%;
    z-index: 1;
}

.side-menu img {
    width: 100%;
}

.vertical-menu {
    width: 100%;
    height: 100%;
    
}
  
.vertical-menu a { 
    background-color: #ffffff;
    color: #725C5C;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16.5px;
    line-height: 19px;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-bottom: 1px solid rgb(209,209,209);
}
  
.vertical-menu a:hover {
    background-color: #ffffff;
}
  
.vertical-menu a.active {
    background-color: #FDF1EB;
    color: #5C5C5C;
    border-left: 6.5px solid rgb(241,132,62);
    background-color: inear-gradient(#FFB354 0%, #EE7A3A 100%);;
}

.main-title {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ED7839;
    margin-top: 20px;
    margin-left: 40px;
}

.video {
    margin-top: 20px;
    margin-left: 40px;
}

.span-new {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #ED7839;
    margin-bottom: 10px;
}

.mainsub {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.right-side {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-side .main {
    margin-bottom: 10px;
}

.panel {
    border-radius: 3px 3px 0px 0px;
    height: 441px;
}

.panel .subpanel::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.panel .subpanel::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #BFBFBF 14%,#bfbfbf 64%);
    border-radius: 10px;
}

.panel .subpanel::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #BFBFBF 14%,#bfbfbf 64%);
}

.panel .subpanel::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.panel .header {
    background: #FDF1EB;
    padding: 10px 15px; 
    border: 1px solid #ECECEC;
    border-bottom: none;
}

.discussions .header {
    background: #FDF1EB;
    padding: 10px 15px; 
    border: 1px solid #ECECEC;
    border-bottom: none; 
}

.panel .subpanel {
    padding: 15px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
    overflow-y: scroll;
    border: 1px solid #ECECEC;
    height: 82%;
}

.panel .footer {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #5C5C5C;
}

.resume {
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    max-height: 11%;
    margin-top: 20px;
    margin-left: 40px;
    width: 1075px;
}

.discussions {
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    max-height: 34%;
    height: 30%;
    margin-top: 8px;
    margin-left: 40px;
    width: 1075px;
}

.resume .header{
    background: #FDF1EB;
    padding: 10px 15px; 
    border: 1px solid #ECECEC;
    border-bottom: none;
}

.resume-subpanel{
    padding: 15px;
    background: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
    cursor: pointer;
}

.discussions-subpanel{
    padding: 15px;
    background: #ffffff;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
    cursor: pointer;
}

.details-text {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #4E4E4E;
}

.dload {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    background: #ED7839;
    border-radius: 4px;
    Width: 120px;
    Height: 20px;
    margin-right: 5px;
    border: 1px solid #00000027;
    padding: 6px;
    cursor: pointer;
}

.star {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    background: #ED7839;
    border-radius: 4px;
    width: 40px;
    height: 31px;
    margin-right: 5px;
    border: 1px solid #00000027;
    cursor: pointer;
}

.doi {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    background: #ED7839;
    border-radius: 4px;
    Width: 40px;
    Height: 31px;
    border: 1px solid #00000027;
    cursor: pointer;
}

.img-galoa {
    margin-top: 80px;
    
}

.discussions-text {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ED7839;
    text-align: center;
}

.discussions-image {
    display: flex;
    justify-content: center;
}

.img-size {
    width: 320px;
}

.plus-font {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.topics {
    background: #ffffff;
    padding: 10px 15px; 
    border: 1px solid #ECECEC;
    border-bottom: none;
    width: 97%;
    margin-bottom: 30px;
    z-index: auto;
}

.topics span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topics-text {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ED7839;
}

.heart {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    background: #ED7839;
    border-radius: 4px;
    width: 27px;
    height: 19px;
    margin-right: 5px;
    border: 1px solid #00000027;
    cursor: pointer;
}

.heart-size {
    height: auto; 
    width: auto; 
    max-width: 15px; 
    max-height: 15px;
}

.topics-align {
    display: flex;
    justify-content: start;
    margin-top: 10px;
}


.seemore{
    color: #ED7839;
    border-radius: 4px;
}

.topic1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    border-radius: 4px;
    Width: 120px;
    Height: 20px;
    margin-right: 5px;
    border: 1px solid #00000027;
    padding: 6px;
    cursor: pointer;
}

.slaca-text{
    position: relative;
    color:rgb(255, 255, 255);
    left: 50px;
    color:white;
}